<% if (uObject) { %>
  <h1>TinyApp</h1>
  <h4>Logged in as <%= uObject.email %></h4>
  <section class="logoutform">
      <form name="logout" action="/logout" method="POST" accept-charset="utf-8">
          
          <input type="submit" value="Logout">
      </form>
  </section>

<%} else {%>

<h1>TinyApp</h1>

<section class="loginform">
    <form name="login" action="/login" method="POST" accept-charset="utf-8">
        <input name="username" type="username" placeholder="username">
        <input type="submit" value="Login">
    </form>
</section>
<%}%>