<% if (uObject) { %>
  <h1>TinyApp</h1>
  <h4>Logged in as <%= uObject.email %></h4>
  <section class="logoutform">
      <form name="logout" action="/logout" method="POST" accept-charset="utf-8">
          
          <input type="submit" value="Logout">
      </form>
  </section>

<%} else {%>

<h1>TinyApp</h1>

<h4><a href="/login">Login</a> | <a href="/register">Register</a> </h4>
<%}%>