<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include partials/_header.ejs %>
    <a href="/urls/new">Create a Link</a>
    <br>
    <br>
    <h4>My URL's</h4>
    
    <% for (var key in urls) { %>
      <ul>
        <li><%= key %>
    
          <%= urls[key].longURL %>
            <a href="/urls/<%= keys %>">Edit</a>
            <form method="POST" action="/urls/<%= key %>/delete">
            <input type="submit" value="Delete">
         
        </form>
         
      </ul>
      
      <% } %>
      
        
      
</body>
</html>