
    <form method="POST" action="/register"  accept-charset="utf-8">
      
        <input type="email" name="email" placeholder="username@email.com"></li>
        
        
        <input type="password" name="password" placeholder="password"></li>
        <input type="submit" value="Login"></li>
      
    </form>
  